<%= stylesheet_link_tag 'application' %>
<header>
<%= render 'header' %>
</header>


<div class="quotes-div">
<blockquote class="quotes-block"> <%= @current_quote.quote %> </blockquote>
<p class="author-p">- <%= @current_quote.author %> , (for testing) <%= @current_quote.id %></p>
</div>



